    p, body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: Black;text-decoration: none;}

		.ramka_glowna, .ramka_glowna_instrukcja {
		float: left;
		width: 9.5cm;
		height: 6.5cm;
		margin: 0cm;
		padding: 0.1cm;
		background:#fff;
		vertical-align: middle;
		border: 2px solid #000000;
		background-image: url('glowa.png');
		background-position: bottom right;
		background-repeat: no-repeat;
		}

		.ramka_glowna_instrukcja { font-size: 9px;}

		.ramka_logo { float: right;
		width: 5cm;
		margin: 0.1cm;
		padding: 0.1cm;
		background:#fff;
		vertical-align: top;
		text-align: right; }

		.ramka_mniejsza {
		float: left;
		width: 5cm;
		height: 0.8cm;
		padding: 0.1cm;
		margin: 0.1cm;
		vertical-align: middle;
		border: 1px solid #000000;
		}

		.ramka_najmniejsza, .ramka_tracking {
		float: left;
		width: 3cm;
		height: 0.8cm;
		padding: 0.1cm;
		margin: 0.1cm;
		vertical-align: middle;
		border: 1px solid #000000;
		}

		.ramka_tracking { border: 2px solid #000000; font-weight: bold;}

		.ramka_opis {
		float: left;
		height: 2cm;
		width: 8.5cm;
		padding: 0.1cm;
		margin: 0.1cm;
		vertical-align: middle;
		border: 1px solid #000000;
		}

		.ramka_footnote {
		float: left;
		height: 0.4cm;
		width: 90%;
		padding: 0cm;
		margin: 0.1cm;
		vertical-align: middle;
		/* border: 1px solid #000000; */
		}


		.infotext {
		text-align: left;
		font-size: 7pt;
		vertical-align: top;
		padding: 0px;
		}

		.zawartosc {
		float: right;
		padding: 0px;
		}
