.report-link a {
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.3em 0;
    border-bottom-left-radius: 4px;
}
/* green */
.report-bg {
    background-color: rgb(153, 238, 153);
}
.btn-right {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
