body > {
  footer {
    background: #2ab2c2;
    padding-bottom: 20px;
  }

  footer a {
    color: #2d375e;
  }
}

.footer_bottom_ul {
  list-style-type: none;
  padding: 0;
  display: table;
  margin: 10px auto;
}

.footer_bottom_ul li {
  display: inline;
}

.footer_bottom_ul li a {
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0;
  padding: 0;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
