/* div.gallery */
div.justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

div.gallery {
    position: relative;
    z-index: 2;
    // padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    figure.alt-profile {
        width: auto;
        min-width: 112px;
        div.parent {
            width: auto;
            min-width: 110px;
            .image-container {
                width: auto;
                min-width: 100px;
            }
        }
    }

    figure {
        border: 1px solid silver;
        width: 112px;
        height: 163px;
        margin: 3px;
        float: left;

        div.parent {
            position: relative;
            width: 110px;
            height: 110px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .image-container {
            border: 1px solid #eee;
            width: 100px;
            height: 100px;
            overflow: hidden;

            .picture-message {
                position: absolute;
                top: 20px;
                left: 0;
                text-align: center;
                margin: 5px;
                padding: 10px 5px;
                background-color: #FFFFFF88;
            }
        }

        div.is-avatar {
            border: 2px solid #2ab2c2;
        }
    }

    figcaption {
        border-top: 1px solid silver;
        background-color: #eee;
        height: 51px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    figcaption > p {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 3px;
    }

    .overlay {
        position: absolute;
        color: white;
        width: 18px;
        height: 14px;
    }

    .flag-icon {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #eee;
        width: 18px;
        height: 14px;
    }

    span.geokret {
        content: " ";
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/assets/images/the-mole-grey.svg");
        width: 22px;
        height: 22px;
    }

    span.move:before {
        content: "\2708";
    }

    span.human {
        content: " ";
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/assets/images/human-bust.svg");
        width: 20px;
        height: 20px;
        max-width:100%;
    }

    span.type {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 3px;
        padding-right: 3px;
        border: 1px solid #eee;
        background-color: white;
    }
}
