.intro-stats-icon {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 10px;
}

.btn-github, .btn-google {
  padding-bottom: 3px !important;
  padding-top: 5px !important;
}
.btn-github {
  color: #fff !important;
}

i.fa-github, i.fa-google {
  font-size: 20px !important;
}


.btn-github:hover {
  color: #fff !important;
  background-color: #0d1117 !important;
}
