.panel-body-danger {
  background: #f2dede;
}
.panel-body-warning {
  background: #fcf8e3;
}
.panel-body-info {
  background: #d9edf7;
}
.panel-body-default {
  background: #f5f5f5;
}
.primary {
  background: #337ab7;
}
.success {
  background: #dff0d8;
}
