*~
*.swp
*.swo
.svn
.well-known
backup_plikow2
mysqlconv
mapki/map/*.map
mapki/gpx/*.gpx
mapki/csv/*.csv.gz
obrazki
obrazki-dowonu
obrazki-male
templates/konfig-mysql.php
templates/konfig-local.php
wykresy
tymczas
statpics/*.png
country_stat.html
country_stat_google.html
lost.html
lost.xml
stat_apps.txt
templates/stats/year/*.html
templates/jpgraph/jpgraph3.5/lang/
rzeczy/logo/html-head.html
rzeczy/logo/html-tail.html
rzeczy/logo/index.html
statystyczka-kretow.txt
statystyczka-s.html
statystyczka-s2.html
statystyczka.html
obrazek.png
.php_cs.cache
