*~
*.swp
*.swo
*.pyc
.svn
.well-known
*.dont-push.*
.idea/
*.iml
.project
.buildpath
.settings
.php-cs-fixer.cache
# generated
docker-compose.yml
docker-compose-windows.yml
docker-compose.dev.yml
git-version
.php_cs.cache
.project
*.iml
# please use 'composer install' to generate vendor/
vendor/
tmp/

.envrc
.env

# mapped data directories
db_data/
website/templates/
minio_data/

execution.log

jq-linux64
jq-win64.exe

cookie.txt
composer.phar
