# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  (?x)(
      ^website/app/languages/|
      ^website/app/dict/|
      ^website/app-templates/smarty/help-pages/|
      ^website/public/assets/images/|
      ^website/db/dumps/|
      ^vendor/|
      ^composer.json$
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix"]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: remove-crlf

  - repo: https://github.com/digitalpulp/pre-commit-php.git
    rev: 1.4.0
    hooks:
      - id: php-lint-all
      - id: php-cs-fixer
        files: \.(php)$
        args: [ "--config=.php-cs-fixer.php", "-q" ]

  - repo: https://github.com/IamTheFij/docker-pre-commit.git
    rev: v2.0.0
    hooks:
      - id: docker-compose-check
        files: docker-compose.*.ya?ml$
      - id: hadolint-system
