language: php
cache:
    directories:
        - $HOME/.composer/cache/files
        - $HOME/.php-cs-fixer

branches:
    except:
    - /\+travis\d+$/
php:
  - 7.3

# https://docs.travis-ci.com/user/database-setup/#mariadb
addons:
    mariadb: '10.1'
    apt:
        packages:
            - moreutils
            - gettext

# https://docs.travis-ci.com/user/environment-variables/#defining-multiple-variables-per-item
env:
    - test_database_host=localhost test_database_pwd= test_show_method_name=true

# https://andidittrich.de/2017/06/travisci-setup-mysql-tablesdata-before-running-tests.html
before_install:
    # Workaround bug on travis failing to install mariadb
    - sudo apt-get remove --purge mysql-common mysql-client-core-5.7 mysql-server-core-5.7
    - sudo apt-get update
    - sudo apt-get install -y -o Dpkg::Options::='--force-confnew' mariadb-server mariadb-server-10.1
    - sudo systemctl start mysql
    # End workaround
    - wget --no-verbose https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb
    - sudo dpkg -i crowdin.deb
    - gkShell/config/testdb/generateSql.sh
    - mysql -u root --password="" < gkShell/config/testdb/00_database-create-geokrety-db.sql
    # - mysql -u root --password="" < gkShell/config/testdb/01_grant-root.sql # Unneeded?
    - tests/config/generateTestConfig.sh
# mysql  pid file: /var/run/mysqld/mysqld.pid
# mysql sock file: /var/run/mysqld/mysqld.sock

install:
    - cd website && composer install && cd ..
    - composer install
    - sudo curl -L https://raw.githubusercontent.com/smarty-gettext/smarty-gettext/master/tsmarty2c.php -o /usr/local/bin/tsmarty2c
    - sudo chmod 0755 /usr/local/bin/tsmarty2c
    - phpenv config-rm xdebug.ini || return 0

script:
    # Check against CRLF
    - scripts/check-crlf.sh
    # Check against trailing whitespaces on php files
    - scripts/check-trailling-spaces.sh .
    # Check against non utf-8 files
    - scripts/check-utf8.sh .
    ## Check php syntax
    #- scripts/phplint.sh website/ # Disabled see issue #69
    # Check CS fixer
    - vendor/bin/php-cs-fixer --no-interaction --dry-run --diff -v fix
    # Unit tests with PHPUnit ; output to stdr to prevent session issues https://stackoverflow.com/a/38045422/944936
    - vendor/bin/phpunit --stderr

jobs:
  include:
    - stage: deploy
      if: branch IN (master, boly38, feature/new-theme)
      php: 7.3
      script:
        - scripts/export-translations-github.sh
        - scripts/compile-translations.sh
    - stage: qaTests
      if: branch IN (master, boly38) AND env(TRAVIS_QA_TOKEN)
      script:
        # TRAVIS_QA_TOKEN from https://travis-ci.org/geokrety/geokrety-website/settings
        # TRAVIS_BRANCH   from https://docs.travis-ci.com/user/environment-variables/
        - bash ./scripts/qatests_hook.sh ${TRAVIS_QA_TOKEN} ${TRAVIS_BRANCH}
        - bash ./scripts/qatests_wait.sh ${TRAVIS_QA_TOKEN}
notifications:
    # doc: https://docs.travis-ci.com/user/notifications/#configuring-irc-notifications
    irc:
        channels:
        - "chat.freenode.net#geokrety"
        on_success: always
        on_failure: always
        template:
        - "%{build_url} WEBSITE %{build_number} | %{branch} - %{commit} | %{result}"
