version: '3.3'
services:
    web:
        build: .
        image: geokrety:local
        ports:
            - "8000:80"
        volumes:
            - ${PWD}/website/:/var/www/html/:rw
            - ${PWD}/configs/ssmtp.tmpl.conf:/etc/ssmtp/ssmtp.conf:ro
        depends_on:
            - db
            - redis
            - minio
        environment:
            GK_DB_USER: geokrety
            GK_DB_PASSWORD: geokrety
            GK_DB_DSN: mysql:host=db;port=3306;dbname=geokrety-db;charset=utf8mb4
            GK_CDN_SERVER_URL: https://new-theme.cdn.geokrety.org
            GK_SITE_BASE_SERVER_URL: http://localhost:8000
            GK_MINIO_SERVER_URL_EXTERNAL: http://localhost:9000
            GK_MINIO_ACCESS_KEY: geokrety
            GK_MINIO_SECRET_KEY: geokrety

    ## database administration service
    adminer:
        image: adminer:4.6.2
        container_name: geokrety_adminer
        ports:
            - 8880:8080
        restart: unless-stopped
        depends_on:
            - db

    db:
        image: mysql:5.7
        volumes:
            - ./db_data:/var/lib/mysql
            # Initial DB schema structure
            - ${PWD}/docker/mariadb:/tmp/database
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ge0krety
            MYSQL_DATABASE: geokrety-db
            MYSQL_USER: geokrety
            MYSQL_PASSWORD: geokrety
        ports:
            - "13306:3306"
        command: mysqld # --init-file="/tmp/database/00_database-create-geokrety-db.sql"

    redis:
        image: redis:5.0.4
        container_name: geokrety_redis
        ports:
            - "6379:6379"

    minio:
        image: minio/minio
        container_name: geokrety_minio
        ports:
            - "9000:9000"
        command:
            - "server"
            - "/data"
        volumes:
            - ./minio_data:/data/
        environment:
            MINIO_ACCESS_KEY: geokrety
            MINIO_SECRET_KEY: geokrety
