version: '3.3'
services:
    web:
        build: .
        image: geokrety:local
        ports:
            - "8000:80"
        volumes:
            - ./website/:/var/www/html/:rw
            - ./configs/ssmtp.tmpl.conf:/etc/ssmtp/ssmtp.conf:ro
        depends_on:
            - db
        environment:
            DB_HOSTNAME: db
            DB_USERNAME: geokrety
            DB_PASSWORD: geokrety
            DB_NAME: geokrety-db
            SERVER_URL: "localhost:8000"

    db:
        image: mysql:5.7
        volumes:
            - ./db_data:/var/lib/mysql
            # Initial DB schema structure
            - ./docker/mariadb:/tmp/database
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ge0krety
            MYSQL_DATABASE: geokrety-db
            MYSQL_USER: geokrety
            MYSQL_PASSWORD: geokrety
        ports:
            - "13306:3306"
        command: mysqld --init-file="/tmp/database/00_database-create-geokrety-db.sql"