<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        testdox="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="emails">
            <directory>tests/unit/app/GeoKrety/Emails/</directory>
        </testsuite>
        <testsuite name="services">
            <directory>tests/unit/app/GeoKrety/Service/</directory>
        </testsuite>
    </testsuites>
</phpunit>
