php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on
php_value error_log  /dev/stderr

ErrorDocument 403 /errors/error403.html
ErrorDocument 404 /errors/error404.html

RewriteEngine On
RewriteBase /


# # Issue-68: Change link to download GeoKrety Toolbox
# Redirect "(en|fr|de|pl|bg|ca|da|el|es|et|fi|cs|hu|it|nl|pt|zh|ro|ru|sk|sq|sv|th|tr|uk)/download/GeoKrety.Toolbox.user.js" "https://raw.githubusercontent.com/geokrety/GeoKrety-Toolbox/master/GeoKrety.Toolbox.user.js"


# Issue-221: robots.txt per domain
RewriteCond %{REQUEST_FILENAME} /robots.txt$
RewriteCond %{DOCUMENT_ROOT}/robots-files/%{HTTP_HOST}.txt -f
RewriteRule robots.txt$ /robots-files/%{HTTP_HOST}.txt [L]

# define a fallback if no config file provided
RewriteCond %{REQUEST_FILENAME} /robots.txt$
RewriteCond %{DOCUMENT_ROOT}/robots-files/%{HTTP_HOST}.txt !-f
RewriteRule robots.txt$ /robots-files/default.txt [L]


RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]


# Legacy access to files
RewriteCond %{REQUEST_URI} ^/statpics/.*\.png
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^statpics/(.*)$ https://cdn.geokrety.org/images/statpics/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/obrazki/.*\.(png|gif|svg|jpg|jpeg)
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^obrazki/(.*)$ https://cdn.geokrety.org/images/obrazki/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/obrazki-male/.*\.(png|gif|svg|jpg|jpeg)
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^obrazki-male/(.*)$ https://cdn.geokrety.org/images/obrazki-male/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/templates/medal-.*\.png
RewriteRule ^templates/(medal-.*\.png)$ https://cdn.geokrety.org/images/medals/$1 [R=301,L]
