<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<title>GeoKrety: {$nazwa}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{$szablon_css}" />
</head>

<body>


<div class="ramka_glowna">

<span class="wieksze">{$nazwa}</span><br />
by <strong>{$owner}</strong><br />
Tracking code: <strong>{$tracking}</strong><br />
<span class="infotext">Ref. number: {$id}<br />
https://geokrety.org/</span>
</div>


<div class="ramka_glowna_instrukcja">

Registered at <strong>geokrety.org</strong>, the home of free trackable moles<br />

<strong>Information</strong>: <span class="infotext">{$opis}</span>

</div>

</body>
</html>