<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Geokrety: error 404</title>
	<style TYPE="text/css">
	<!--
#inner {
padding: 10px;
width: 552px;
background:white;
height: 488px;
text-align: left;
margin-left:auto;
margin-right:auto;
border:1px solid #000;
}
	-->
	</style>
</head>
<body>
<div id="outer">
<div id="container">
<div id="inner">
<h1>Error 404 :(</h1>
<p><img src="/templates/errors/pingwin.png" width="128" height="128" alt="pingwin" /></p>
<p>
<ul><li>Nie znaleziono strony</li>
<li>Page not found</li>
<li>Page non trouvée</li>
<li>Seite nicht gefunden</li>
<li>Страница не найдена</li>
<li>找不到網頁</li>
<li>Stránka nenalezena</li>
<li>Página no encontrada</li>
</ul></p>
<p><h2><a href="https://geokrety.org/">geokrety.org</a></h2></p>
</div>
</div>
</div>
</body>
</html>
