<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Geokrety: error 404</title>
	<style TYPE="text/css">
	<!--
#inner {
padding: 10px;
width: 552px;
background:white;
height: 488px;
text-align: left;
margin-left:auto;
margin-right:auto;
border:1px solid #000;
}
	-->
	</style>
</head>
<body>
<div id="outer">
<div id="container">
<div id="inner">
<h1>Strona chwilowo niedziała :(</h1>
<p><img src="/templates/errors/pingwin.png" width="128" height="128" alt="pingwin" /></p>
<p>
<ul><li>Sorry, our site is temporarily down for maintenance. Please check back soon.</li>
<li>Przykro nam, nasza strona jest chwilowo nieczynna. Zapraszamy wkrótce.</li>
<li>Leider ist unsere Seite vorübergehend für Wartungsarbeiten heruntergefahren. Bitte kommen Sie bald wieder.</li>
<li>К сожалению, наш сайт временно закрыт на техническое обслуживание. Пожалуйста, зайдите позже.</li>
<li>Lo sentimos, nuestro sitio está temporalmente fuera de servicio por mantenimiento. Por favor, vuelva pronto.</li>
<li>对不起，我们的网站暂时关闭，进行维修。请稍后再回来查看.</li></ul>
</p>
<p><h2><a href="https://geokrety.org/">geokrety.org</a></h2></p>
</div>
</div>
</div>
</body>
</html>