<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<title>GeoKrety: {$nazwa}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="label1.css" />
</head>

<body>


<div class="ramka_glowna">

<div class="ramka_logo">
<img src="geokrety1.gif" alt="logo" width="133" height="27" />
</div>


<div class="ramka_mniejsza">
<span class="infotext">My name is:</span><br />
<span class="zawartosc">{$nazwa}</span>
</div>


<div class="ramka_najmniejsza">
<span class="infotext">Reference number:</span><br />
<span class="zawartosc">{$id}</span>
</div>

<div class="ramka_mniejsza">
<span class="infotext">My owner is:</span><br />
<span class="zawartosc">{$owner}</span>
</div>


<div class="ramka_tracking">
<span class="infotext">Tracking code:</span><br />
<span class="zawartosc">{$tracking}</span>
</div>


<div class="ramka_opis">
<span class="infotext">Information:</span><br />
<span class="zawartosc">{$opis}</span>
</div>




<div class="ramka_footnote">
<span class="infotext">Registered at <strong>geokrety.org</strong>, the home of free trackable moles</span>
</div>


</div>


<div class="ramka_glowna_instrukcja">


<strong>Instrukcja obsługi:</strong>
<ol>
  <li>Zabierz GeoKreta. Koniecznie zapisz jego Tracking Code</li>
  <li>Ukryj w nowej skrzynce</li>
  <li>Zarejestruj ten fakt na stronie https://geokrety.org/<br /><strong>Szerokiej Drogi!</strong></li>
</ol>



<strong>User's manual:</strong>
<ol>
  <li>Take this GeoKret. Note down the Tracking Code</li>
  <li>Hide in another cache</li>
  <li>Register this trip at https://geokrety.org/<br /><strong>Have a nice trip!</strong></li>
	</ol>


<strong>Anleitung:</strong>
<ol>
  <li>Nimm den GeoKret mit und notiere dir seinen Tracking Code</li>
  <li>Verstecke ihn wieder in einem anderen Cache</li>
  <li>Logge seine Reise auf https://geokrety.org/<br /><strong>Gute Reise!</strong></li>
</ol>

</div>

</body>
</html>