.dcreds {
    padding: 10px;
}

.dcred {
    margin: 5px;
    padding: 5px;
    float: left;
    width: 250px;
    height: 100px;
    border: 1px solid lightgrey;
}

.dcredimg {
    float: right;
}

.dcredname {
    padding: 10px;
}
