<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
{assign var="cssUrl" value="https://cdn.geokrety.org/css"}
<head>
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<title>GeoKrety: {$tytul}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.geokrety.org/images/favicon/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.geokrety.org/images/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.geokrety.org/images/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="https://cdn.geokrety.org/images/favicon/manifest.json"/>
  <link rel="mask-icon" href="https://cdn.geokrety.org/images/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="shortcut icon" href="https://cdn.geokrety.org/images/favicon/favicon.ico"/>
  <meta name="msapplication-config" content="https://cdn.geokrety.org/images/favicon/browserconfig.xml"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{$cssUrl}/krety.css"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{$cssUrl}/krety-handheld.css"  media="handheld" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	{$head}
</head>

<body {$body}>

<div id="banner-prawo">{$tytul}</div>



<div id="prawo">

{if count($alert_msgs)}
{foreach from=$alert_msgs item=alert_msg}
<div class="alert alert-{$alert_msg.level}" role="alert">
{$alert_msg.message}
</div>
{/foreach}
{/if}

<!-- treść -->
{$tresc}
<!-- treść -->
</div>

<div id="footnote">Made in Poland | by filips | <a class="male" href="/kontakt.php">{t}contact{/t}</a> | <a class="male" href="abuse.php">{t}Report abuse{/t}</a></div>

{literal}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.kumy.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '51']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.kumy.net/piwik.php?idsite=51&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{/literal}
</body>
</html>
