.py27
# IDE
.idea/
*.iml
visualReport.html

# shell results
.requirements_checked
chromedriver.exe
chromedriver_*
geckodriver.exe
geckodriver*
acceptance/vars/__pycache__/

# robotf results
docs/*/
previous_docs/

# python virtual env
venv/
chromedriver
