robotframework==7.1
robotframework-seleniumlibrary==6.6.1
robotframework-debuglibrary==2.5.0
xvfbwrapper==0.2.9
robotframework-xvfb==1.2.2
Selenium==4.26.1
robotframework-dependencylibrary==4.0.1
robotframework-eyes==1.6.2
robotframework-requests==0.9.7
robotframework-jsonlibrary==0.5
pyyaml
robotframework-pabot==2.18.0
