robotframework==3.2.2
robotframework-seleniumlibrary==4.5.0
robotframework-debuglibrary==2.2.1
xvfbwrapper==0.2.9
robotframework-xvfb==1.2.2
Selenium==3.141.0
robotframework-dependencylibrary==1.0.0.post1
robotframework-eyes==1.5.3
robotframework-requests==0.8b4
robotframework-jsonlibrary==0.3.1
