robotframework==7.2.2
robotframework-seleniumlibrary==6.7.0
robotframework-debuglibrary==2.5.0
xvfbwrapper==0.2.9
robotframework-xvfb==1.2.2
Selenium==4.28.1
robotframework-dependencylibrary==4.0.1
robotframework-eyes==1.6.2
robotframework-requests==0.9.7
robotframework-jsonlibrary==0.5
pyyaml
robotframework-pabot==4.0.6
