<li><img class="menu-add" src="{$iconsUrl}/_.gif" alt="*" /> <a href="register.php">{t}Register a new GeoKret{/t}</a></li>
<li><a href="claim.php"><i class="glyphicon glyphicon-heart red"></i> {t}Claim a GeoKret{/t}</a></li>
<li class="dir"><img class="menu-user" src="{$iconsUrl}/_.gif" alt="*" /> {t}My account{/t}
<ul>
<li><img class="menu-user" src="{$iconsUrl}/_.gif" alt="*" />  <a href="/mypage.php">{t}Account details{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mypage.php?co=5">{t}Geokrets in my inventory{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mypage.php?co=1">{t}My geokrets{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mypage.php?co=2">{t}Watched geokrets{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mypage.php?co=3">{t}My recent logs{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mypage.php?co=4">{t}Recent moves of my geokrets{/t}</a></li>
<li><img class="menu-photos" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/galeria.php?f=myown">{t}My photos{/t}</a></li>
<li><img class="menu-photos" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/galeria.php?f=mygeokrets">{t}Photos of my geokrets{/t}</a></li>
<li><img class="menu-strz" src="{$iconsUrl}/_.gif" alt="*" /> <a href="/mapka_kretow.php">{t}Where are my geokrets?{/t}</a></li>
</ul></li>

<li><img class="menu-exit" src="{$iconsUrl}/_.gif" alt="*" /> <a href="longin.php?logout=1">{t}Logout{/t}</a></li>
