<html><head></head><body>
<h1>123 Countries</h1>
{t}Afghanistan{/t}<br/>
{t}Egypt{/t}<br/>
{t}Albania{/t}<br/>
{t}American Samoa{/t}<br/>
{t}Argentina{/t}<br/>
{t}Armenia{/t}<br/>
{t}Austria{/t}<br/>
{t}Australia{/t}<br/>
{t}Bahamas{/t}<br/>
{t}Belarus{/t}<br/>
{t}Belgium{/t}<br/>
{t}Bosnia and Herzegovina{/t}<br/>
{t}Botswana{/t}<br/>
{t}Brazil{/t}<br/>
{t}Bulgaria{/t}<br/>
{t}Canada{/t}<br/>
{t}Czech Republic{/t}<br/>
{t}Chile{/t}<br/>
{t}China{/t}<br/>
{t}Croatia{/t}<br/>
{t}Costa Rica{/t}<br/>
{t}Cyprus{/t}<br/>
{t}Denmark{/t}<br/>
{t}Germany{/t}<br/>
{t}North Korea{/t}<br/>
{t}Dominican Republic{/t}<br/>
{t}Ecuador{/t}<br/>
{t}El Salvador{/t}<br/>
{t}Spain{/t}<br/>
{t}Estonia{/t}<br/>
{t}Falkland Islands{/t}<br/>
{t}Faroe Islands{/t}<br/>
{t}Finland{/t}<br/>
{t}France{/t}<br/>
{t}Georgia{/t}<br/>
{t}Gibraltar{/t}<br/>
{t}Granada{/t}<br/>
{t}Greece{/t}<br/>
{t}Greenland{/t}<br/>
{t}United Kingdom{/t}<br/>
{t}Guatemala{/t}<br/>
{t}Netherlands{/t}<br/>
{t}Honduras{/t}<br/>
{t}Indonesia{/t}<br/>
{t}India{/t}<br/>
{t}Ireland{/t}<br/>
{t}Iceland{/t}<br/>
{t}Israel{/t}<br/>
{t}Italy{/t}<br/>
{t}Japan{/t}<br/>
{t}Yemen{/t}<br/>
{t}Jordan{/t}<br/>
{t}Cambodia{/t}<br/>
{t}Cape Verde{/t}<br/>
{t}Kazakhstan{/t}<br/>
{t}Kenya{/t}<br/>
{t}Kyrgyzstan{/t}<br/>
{t}Colombia{/t}<br/>
{t}Cuba{/t}<br/>
{t}Laos{/t}<br/>
{t}Latvia{/t}<br/>
{t}Liechtenstein{/t}<br/>
{t}Lithuania{/t}<br/>
{t}Luxembourg{/t}<br/>
{t}Malaysia{/t}<br/>
{t}Maldives{/t}<br/>
{t}Malta{/t}<br/>
{t}Morocco{/t}<br/>
{t}Mauritius{/t}<br/>
{t}Macedonia{/t}<br/>
{t}Mexico{/t}<br/>
{t}Moldova{/t}<br/>
{t}Monaco{/t}<br/>
{t}Montenegro{/t}<br/>
{t}Namibia{/t}<br/>
{t}Nepal{/t}<br/>
{t}New Zealand{/t}<br/>
{t}Nicaragua{/t}<br/>
{t}Netherlands Antilles{/t}<br/>
{t}Norway{/t}<br/>
{t}Panama{/t}<br/>
{t}Papua New Guinea{/t}<br/>
{t}Philippines{/t}<br/>
{t}Poland{/t}<br/>
{t}Portugal{/t}<br/>
{t}Russia{/t}<br/>
{t}Rwanda{/t}<br/>
{t}Romania{/t}<br/>
{t}Zambia{/t}<br/>
{t}Saudi Arabia{/t}<br/>
{t}Sweden{/t}<br/>
{t}Switzerland{/t}<br/>
{t}Serbia{/t}<br/>
{t}Serbia and Montenegro{/t}<br/>
{t}Seychelles{/t}<br/>
{t}Slovenia{/t}<br/>
{t}Zimbabwe{/t}<br/>
{t}Slovakia{/t}<br/>
{t}Soviet Union{/t}<br/>
{t}Sri Lanka{/t}<br/>
{t}South Africa{/t}<br/>
{t}Sudan{/t}<br/>
{t}South Georgia and the South Sandwich Islands{/t}<br/>
{t}Svalbard and Jan Mayen{/t}<br/>
{t}Syria{/t}<br/>
{t}Taiwan{/t}<br/>
{t}Thailand{/t}<br/>
{t}Tanzania{/t}<br/>
{t}Togo{/t}<br/>
{t}Trinidad and Tobago{/t}<br/>
{t}Chad{/t}<br/>
{t}Tunisia{/t}<br/>
{t}Turkey{/t}<br/>
{t}Ukraine{/t}<br/>
{t}Uganda{/t}<br/>
{t}Hungary{/t}<br/>
{t}United States{/t}<br/>
{t}USA{/t}<br/>
{t}Uzbekistan{/t}<br/>
{t}Holy See{/t}<br/>
{t}United Arab Emirates{/t}<br/>
{t}Vietnam{/t}<br/>
{t}United States Virgin Islands{/t}<br/>
<h1>23 Cache-types</h1>
{t}Mobile{/t}<br/>
{t}BIT Cache{/t}<br/>
{t}Cemetery{/t}<br/>
{t}Drive-In{/t}<br/>
{t}Event{/t}<br/>
{t}Traditional{/t}<br/>
{t}Multicache{/t}<br/>
{t}Mystery{/t}<br/>
{t}Unknown cache{/t}<br/>
{t}Virtual{/t}<br/>
{t}Webcam{/t}<br/>
{t}Guest Book{/t}<br/>
{t}Other{/t}<br/>
{t}Quiz{/t}<br/>
{t}Letterbox{/t}<br/>
{t}Math / physics cache{/t}<br/>
{t}Medical Facility{/t}<br/>
{t}MP3{/t}<br/>
{t}Unknowncache{/t}<br/>
{t}Own cache{/t}<br/>
{t}Podcast cache{/t}<br/>
{t}Unusual box{/t}<br/>
{t}USB{/t}<br/>
</body></html>
