php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on
php_value error_log  /tmp/PHP_errors.log

ErrorDocument 403 /templates/errors/error403.html
ErrorDocument 404 /templates/errors/error404.html

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/statpics/.*\.png
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^statpics/(.*)$ https://cdn.geokrety.org/images/statpics/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/obrazki/.*\.(png|gif|svg|jpg|jpeg)
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^obrazki/(.*)$ https://cdn.geokrety.org/images/obrazki/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/obrazki-male/.*\.(png|gif|svg|jpg|jpeg)
RewriteCond "%{HTTP_REFERER}" "^geokrety.org"
RewriteRule ^obrazki-male/(.*)$ https://cdn.geokrety.org/images/obrazki-male/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/templates/medal-.*\.png
RewriteRule ^templates/(medal-.*\.png)$ https://cdn.geokrety.org/images/medals/$1 [R=301,L]

Header add Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.geokrety.org *.kumy.net *.google.com *.gstatic.com; object-src 'none'; style-src 'self' data: 'unsafe-inline' *.geokrety.org *.kumy.net fonts.googleapis.com; img-src 'self' *.geokrety.org *.kumy.net *.openstreetmap.org www.gstatic.com; media-src *; frame-src 'self' www.google.com; font-src *; connect-src 'self'; worker-src 'self' www.google.com; frame-ancestors 'none'; require-trusted-types-for 'script';"
Header add X-Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.geokrety.org *.kumy.net *.google.com *.gstatic.com; object-src 'none'; style-src 'self' data: 'unsafe-inline' *.geokrety.org *.kumy.net fonts.googleapis.com; img-src 'self' *.geokrety.org *.kumy.net *.openstreetmap.org www.gstatic.com; media-src *; frame-src 'self' www.google.com; font-src *; connect-src 'self'; worker-src 'self' www.google.com; frame-ancestors 'none'; require-trusted-types-for 'script';"
Header add X-WebKit-CSP "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.geokrety.org *.kumy.net *.google.com *.gstatic.com; object-src 'none'; style-src 'self' data: 'unsafe-inline' *.geokrety.org *.kumy.net fonts.googleapis.com; img-src 'self' *.geokrety.org *.kumy.net *.openstreetmap.org www.gstatic.com; media-src *; frame-src 'self' www.google.com; font-src *; connect-src 'self'; worker-src 'self' www.google.com; frame-ancestors 'none'; require-trusted-types-for 'script'"
Header add X-FRAME-OPTIONS "DENY"
