body, td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000;text-decoration: none;}
h1 {font-size: 16pt;}
h2 {font-size: 13pt;}
#outer {height: 400px; overflow: hidden; position: relative;}
#outer[id] {display: table; position: static;}
#middle {position: absolute; top: 30%;} /* for explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%;}
#inner {position: relative; top: -50%; text-align: center;} /* for explorer only */
input { border: 1px solid silver;}
.error {color: Red;}
.szare {font-size: 8pt; color: #0f0f0f;}
hr {background-color: silver; height: 1px; width: 60%; border: none 0; }

table {border: 1px solid black;
   border-collapse: collapse;
   background-color: #ffc;
   }
td {
   border: 1px solid black;
   padding: 5px;
}
